<div class='container-fluid'>

<nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
  <div class='container'>
    {{link-to 'Stamford' 'application' class='navbar-brand'}}
    <ul class='nav navbar-nav'>
    <li>{{link-to 'About' 'about'}}</li>
    <li>{{link-to 'Users' 'users'}}</li>
    </ul>

    {{#unless auth_token }}
    {{link-to 'Log In' 'login' class='btn btn-default navbar-btn navbar-right'}}</li>
    {{/unless}}
    {{#if auth_token}}
    <button class='btn btn-default navbar-btn navbar-right sign-out' {{action 'signOut'}}>Sign out</button>
    {{/if}}
  </div>
</nav>
<h2 id='title'>Welcome to Oxford Circus</h2>
<div class='container'>
{{outlet}}
</div>
</div>
