<div class='container-fluid'>
<h2 id='title'>Welcome to Oxford Circus</h2>

{{link-to 'Home' 'application'}}
{{link-to 'About' 'about'}}
{{link-to 'Users' 'users'}}
{{link-to 'Log In' 'login'}}
<button class='btn btn-default btn-sm sign-out' {{action 'signOut'}}>Sign out</button>
{{outlet}}
</div>
